@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    /* Primary */
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    /* Neutral */
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    --button-border-radius: .8rem;
    --button-padding: 1.5rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    font-family: "Kumbh Sans", sans-serif;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 1.7rem 2rem;
}

.header__logo-and-nav-container__icon-menu {
    margin-right: 1rem;
}

.header__logo-and-nav-container__logo {
    width: 11rem;
}

/* Nav */
.header__logo-and-nav-container__nav {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;

    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: all 0.2s ease-in-out;

    width: 68%;
    height: 100%;
    padding: 2.5rem;

    background-color: var(--white);
}

.header__logo-and-nav-container__nav__icon-close {
    margin-bottom: 5rem;
}

.header__logo-and-nav-container__nav__nav-li {
    list-style: none;
}

.header__logo-and-nav-container__nav__nav-li:not(:last-of-type) {
    margin-bottom: 2rem;
}

.header__logo-and-nav-container__nav__nav-li__nav-link {
    transition: .2s;

    font-size: 1.7rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--black);
}

/* Cart and avatar container */
.header__cart-and-avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Icon cart header container */
.header__cart-and-avatar-container__cart {
    position: relative;
}

.header__cart-and-avatar-container__cart__span {
    position: absolute;
    top: -.5rem;
    right: -.7rem;

    display: none;

    border-radius: 1rem;
    padding: .1rem .6rem;

    background-color: var(--orange);

    font-size: .9rem;
    font-weight: 700;
    font-family: "Kumbh Sans", sans-serif;
    color: var(--white);
}

.header__cart-and-avatar-container__avatar-img {
    margin-left: 1.8rem;
    border: .1rem solid transparent;
    border-radius: 1.5rem;
    width: 3rem;
}

/* Cart Container */
.header__cart-container {
    position: absolute;
    z-index: 1;
    top: 7.5rem;
    right: 1rem;
    left: 1rem;

    display: none;
    flex-direction: column;

    box-shadow: 0rem 1.3rem 2rem 0rem rgba(0, 0, 0, .3);
    border-radius: 1rem;
    height: 24rem;

    background-color: var(--white);
}

/* Cart top */
.header__cart-container__cart-top {
    border-bottom: .1rem solid hsla(220, 14%, 75%, .4);
    padding: 2.2rem;
}

/* Cart bottom */
.header__cart-container__cart-bottom {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 2.2rem;
}

/* Empty text container */
.header__cart-container__cart-bottom__empty-text-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.header__cart-container__cart-bottom__empty-text-container p {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--dark-grayish-blue);
}

/* Cart items and button container */
.header__cart-container__cart-bottom__cart-items-and-button {
    display: none;
    flex-direction: column;
}

/* Cart items */
.header__cart-container__cart-bottom__cart-items-and-button__cart-items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 2.3rem;
    width: 100%;
}

/* Thumbnail and text */
.header__cart-container__cart-bottom__cart-items-and-button__cart-items__thumbnail-and-text {
    display: flex;
}

.header__cart-container__cart-bottom__cart-items-and-button__cart-items__thumbnail-and-text__thumbnail {
    margin-right: 1.7rem;
    border-radius: .5rem;
    width: 4.8rem;
}

/* Shoe name and price */
.header__cart-container__cart-bottom__cart-items-and-button__cart-items__thumbnail-and-text__text__shoe-name {
    overflow: hidden;

    margin-bottom: .4rem;
    width: 17.8rem;
    white-space: nowrap;

    font-size: 1.5rem;
    text-overflow: ellipsis;
    color: var(--dark-grayish-blue);
}

.header__cart-container__cart-bottom__cart-items-and-button__cart-items__thumbnail-and-text__text__price {
    margin-right: 1rem;

    font-size: 1.5rem;
    color: var(--dark-grayish-blue);
}

.total {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black);
}

.header__cart-container__cart-bottom__cart-items-and-button__cart-items__icon-delete {
    width: 1.3rem;
}

/* Cart link checkout */
.header__cart-container__cart-bottom__cart-items-and-button__button {
    display: flex;
    justify-content: center;

    border: none;
    border-radius: var(--button-border-radius);

    width: 100%;
    padding: 1.8rem;

    background-color: var(--orange);

    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
    text-decoration: none;
}

/* Overlay */
.mobile-overlay,
.desktop-overlay {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: hsla(0, 0%, 0%, .75);
}

/* Main */
main {
    margin-bottom: 7rem;
    width: 100%;
}

/* Overlay images container */
.desktop-overlay__images-container {
    display: none;
}

/* Display image container */
.main__images-container__display-image-container,
.desktop-overlay__images-container__display-images-container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    height: 30.1rem;
}

.main__images-container__display-image-container__image-displayed,
.desktop-overlay__images-container__display-images-container__displayed-img {
    width: 100%;
}

/* Two arrows container */
.main__images-container__display-image-container__two-arrows,
.desktop-overlay__images-container__display-images-container__arrows-container {
    position: absolute;
    right: 1rem;
    left: 1rem;

    display: flex;
    justify-content: space-between;
}

/* Arrow container */
.main__images-container__display-image-container__two-arrows__arrow,
.desktop-overlay__images-container__display-images-container__arrows-container__arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 2rem;
    padding: .7rem .85rem;

    background-color: var(--white)
}

.main__images-container__display-image-container__two-arrows__arrow__img,
.desktop-overlay__images-container__display-images-container__arrows-container__arrow__img {
    width: 1rem;
}

/* Desktop thumbnails row */
.main__images-container__thumbnails-row,
.desktop-overlay__images-container__display-images-container__thumbnails-row {
    display: none;
}

/* Text Container */
.main__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1.8rem;
}

.main__text-container__company {
    margin-bottom: .7rem;

    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .2rem;
    color: var(--orange);
}

.main__text-container__shoe-type {
    margin-bottom: 1.5rem;

    font-size: 2.6rem;
    color: var(--black);
}

.main__text-container__description {
    margin-bottom: 2.5rem;

    font-size: 1.5rem;
    line-height: 2.2rem;
    color: var(--dark-grayish-blue);
}

/* Price container */
.main__text-container__price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 3rem;

    font-weight: 700;
}

/* Price and Discount */
.main__text-container__price-container__price-and-discount {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1.2rem;
}

.main__text-container__price-container__price-and-discount__price {
    font-size: 2.5rem;
    color: var(--black);
}

.main__text-container__price-container__price-and-discount__discount {
    padding: .3rem;

    background-color: var(--pale-orange);

    font-size: 1.4rem;
    color: var(--orange);
}

.main__text-container__price-container__original-price {
    font-size: 1.6rem;
    text-decoration: line-through;
    color: var(--grayish-blue);
}

/* Input container */
.main__text-container__input-and-button-container__input-container {
    position: relative;

    display: flex;
    align-items: center;

    margin-bottom: 1.4rem;
}

.main__text-container__input-and-button-container__input-container__input {
    border: none;
    border-radius: var(--button-border-radius);
    width: 100%;
    padding: var(--button-padding);

    background-color: var(--light-grayish-blue);

    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Kumbh Sans", sans-serif;
    text-align: center;
    color: var(--black);
}

.main__text-container__input-and-button-container__input-container__input::placeholder {
    opacity: 1;

    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Kumbh Sans", sans-serif;
    color: var(--black);
}

.main__text-container__input-and-button-container__input-container__math-symbol {
    position: absolute;
    padding: .8rem;
}

.icon-minus {
    left: 1.5rem;
}

.icon-plus {
    right: 1.5rem;
}

/* Button page */
.main__text-container__input-and-button-container__button-container {
    display: flex;
    justify-content: center;

    box-shadow: 0rem 2.5rem 2rem 0rem hsl(25, 100%, 94%);
    border: none;
    border-radius: var(--button-border-radius);
    width: 100%;
    padding: var(--button-padding);

    background-color: var(--orange);
}

/* Cart and text */
.main__text-container__input-and-button-container__button-container__img-text {
    display: flex;
    align-items: center;

    gap: 1.2rem;
}

.main__text-container__input-and-button-container__button-container__img-text__img-icon-cart {
    filter: brightness(0) saturate(100%) invert(88%) sepia(92%) saturate(0%) hue-rotate(44deg) brightness(110%) contrast(100%);
}

.main__text-container__input-and-button-container__button-container__img-text__text {
    font-weight: 700;
    color: var(--white);
}



















@media only screen and (min-width: 31rem) {
    .header__logo-and-nav-container__logo:hover {
        cursor: pointer;
    }

    .header__logo-and-nav-container__nav__icon-close:hover {
        cursor: pointer;
    }

    /* Display image container */
    .main__images-container__display-image-container,
    .desktop-overlay__images-container__display-images-container {
        overflow: visible;

        height: auto;
    }

    .header__logo-and-nav-container__icon-menu:hover {
        cursor: pointer;
    }

    .header__cart-and-avatar-container__cart__img:hover {
        filter: brightness(0) saturate(100%) invert(0%) sepia(98%) saturate(12%) hue-rotate(336deg) brightness(97%) contrast(100%);

        transition: .2s;

        cursor: pointer;
    }

    .header__cart-and-avatar-container__cart__span:hover {
        cursor: pointer;
    }

    .header__logo-and-nav-container__nav__nav-li__nav-link:hover {
        transition: .2s;

        color: var(--black);
    }

    .header__cart-and-avatar-container__avatar-img:hover {
        transition: .2s;

        border: .2rem solid var(--orange);
        border-radius: 3rem;

        cursor: pointer;
    }

    /* Cart container */
    .header__cart-container {
        top: 7rem;
        right: 6rem;
        left: auto;

        width: 35rem;
    }

    .header__cart-container__cart-bottom__cart-items-and-button__cart-items__icon-delete:hover {
        cursor: pointer;
    }

    .header__cart-container__cart-bottom__cart-items-and-button__button:hover {
        opacity: .7;
    }

    .button-cart:hover {
        opacity: .7;

        cursor: pointer;
    }

    /* Arrow container */
    .main__images-container__display-image-container__two-arrows__arrow:hover {
        cursor: pointer;
    }

    .main__text-container__input-and-button-container__input-container__math-symbol:hover {
        cursor: pointer;
    }

    .main__text-container__input-and-button-container__button-container:hover {
        opacity: .7;

        cursor: pointer;
    }
}










@media only screen and (min-width: 52rem) {
    body {
        padding: 0% 10%;
    }

    /* Header */
    .header {
        margin-bottom: 8rem;
        border-bottom: .1rem solid hsla(220, 14%, 75%, .4);
        padding: 3.5rem 0rem 4rem 0rem;
    }

    .header__logo-and-nav-container__icon-menu {
        display: none;
    }

    /* Logo and nav container */
    .header__logo-and-nav-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        margin-right: 2rem;
        width: 100%;
        max-width: 800px;
    }

    .header__logo-and-nav-container__logo {
        margin-right: 5rem;
        width: 16rem;
    }

    /* Nav */
    .header__logo-and-nav-container__nav {
        position: relative;
        z-index: 0;

        display: flex;
        justify-content: space-between;

        transform: translateX(0);
        -webkit-transform: translateX(0);

        width: 100%;
        max-width: 400px;
        padding: 0;
    }

    .header__logo-and-nav-container__nav__icon-close {
        display: none;
    }

    .header__logo-and-nav-container__nav__nav-li:not(:last-of-type) {
        margin-right: 0rem;
        margin-bottom: 0rem;
    }

    .header__logo-and-nav-container__nav__nav-li__nav-link {
        position: relative;

        font-size: 1.6rem;
        font-weight: 400;
        color: var(--dark-grayish-blue);
    }

    .header__logo-and-nav-container__nav__nav-li__nav-link::after {
        content: "";

        position: absolute;
        left: 50%;
        bottom: -5.4rem;

        transform: translateX(-50%);

        transition: all 0.2s ease-in-out;
        -webkit-transform: translateX(-50%);

        width: 0;
        height: .4rem;

        background-color: var(--orange);
    }

    .header__logo-and-nav-container__nav__nav-li__nav-link:hover::after {
        width: 100%;
    }

    /* Cart and avatar container */
    .header__cart-and-avatar-container {
        position: relative;
        justify-content: space-between;

        gap: 0;

        width: 100%;
        max-width: 112px;
    }

    .header__cart-and-avatar-container__avatar-img {
        margin-left: 2rem;
        width: 5rem;
    }

    /* Cart container */
    .header__cart-container {
        top: 11rem;
        right: 10rem;
        left: auto;

        width: 35rem;
    }

    /* Main */
    main {
        display: flex;
        justify-content: center;
        gap: 9%;

        margin-bottom: 15rem;
    }

    /* Images container */
    .mobile-overlay {
        display: none;
    }

    /* Desktop overlay */
    .desktop-overlay {
        position: fixed;

        justify-content: center;
        align-items: center;
    }

    /* Images container */
    .main__images-container,
    .desktop-overlay__images-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;
        min-width: 300px;
        max-width: 450px;
    }

    .main__images-container {
        flex-basis: 50%;
    }

    .desktop-overlay__images-container__display-images-container {
        display: flex;
        flex-direction: column;
    }

    /* Display image container */
    .main__images-container__display-image-container,
    .desktop-overlay__images-container__display-images-container {
        overflow: visible;

        margin-bottom: 3rem;
        height: auto;
    }

    .desktop-overlay__images-container__display-images-container__icon-close {
        align-self: flex-end;

        transition: .2s;

        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);

        margin-bottom: 1.5rem;
        width: 1.8rem;
    }

    .desktop-overlay__images-container__display-images-container__icon-close:hover {
        transition: .2s;

        filter: brightness(0) saturate(100%) invert(63%) sepia(98%) saturate(2737%) hue-rotate(345deg) brightness(99%) contrast(105%);

        cursor: pointer;
    }

    .main__images-container__display-image-container__image-displayed,
    .desktop-overlay__images-container__display-images-container__displayed-img {
        border-radius: 2rem;
    }

    .main__images-container__display-image-container__image-displayed:hover {
        cursor: pointer;
    }

    /* Two arrows container */
    .main__images-container__display-image-container__two-arrows {
        display: none;
    }

    .desktop-overlay__images-container__display-images-container__arrows-container {
        right: -2.5rem;
        left: -2.5rem;
    }

    /* Arrow container */
    .desktop-overlay__images-container__display-images-container__arrows-container__arrow {
        border-radius: 3rem;
        padding: 1.5rem 1.8rem;
    }

    .desktop-overlay__images-container__display-images-container__arrows-container__arrow:hover {
        cursor: pointer;
    }

    .desktop-overlay__images-container__display-images-container__arrows-container__arrow>img {
        transition: .2s;
    }

    .desktop-overlay__images-container__display-images-container__arrows-container__arrow:hover>img {
        transition: .2s;

        filter: brightness(0) saturate(100%) invert(63%) sepia(98%) saturate(2737%) hue-rotate(345deg) brightness(99%) contrast(105%);
    }

    /* Desktop thumbnails row */
    .main__images-container__thumbnails-row,
    .desktop-overlay__images-container__display-images-container__thumbnails-row {
        display: flex;
        justify-content: center;

        gap: 3rem;
    }

    .main__images-container__thumbnails-row__thumbnail__img,
    .desktop-overlay__images-container__display-images-container__thumbnails-row__img {
        border: .3rem solid transparent;
        border-radius: var(--button-border-radius);
        width: 100%;
    }

    .main__images-container__thumbnails-row__thumbnail__img:hover,
    .desktop-overlay__images-container__display-images-container__thumbnails-row__img:hover {
        cursor: pointer;
    }

    .main__images-container__thumbnails-row__thumbnail__img:hover {
        opacity: .6;
    }

    .desktop-overlay__images-container__display-images-container__thumbnails-row__img:hover {
        filter: brightness(1.2);
    }

    /* Text container */
    .main__text-container {
        flex-basis: 50%;

        max-width: 45rem;
        padding: 1.8rem 0rem 1.8rem 1.8rem;
    }

    .main__text-container__company {
        margin-bottom: 1.8rem;

        font-size: 1.3rem;
    }

    .main__text-container__shoe-type {
        margin-bottom: 2.5rem;

        font-size: 4rem;
    }

    /* Price container */
    .main__text-container__price-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .main__text-container__price-container__price-and-discount {
        margin-bottom: .8rem;
    }

    /* Input and button container */
    .main__text-container__input-and-button-container {
        display: flex;
        gap: 1.3rem;
    }

    /* Input container */
    .main__text-container__input-and-button-container__input-container {
        margin-bottom: 0;
    }

    .main__text-container__input-and-button-container__input-container__input:focus {
        outline: none;
    }

    .main__text-container__input-and-button-container__button-container {
        padding: 0;
    }
}


















/* Coming soon html page section */
.coming-soon-body {
    text-align: center;

    background-color: var(--pale-orange);
}

.coming-soon-h1 {
    font-size: 7rem;
    color: var(--orange);
}










/* JavaScript classes */
.filter-black {
    filter: brightness(0) saturate(100%) invert(0%) sepia(98%) saturate(12%) hue-rotate(336deg) brightness(97%) contrast(100%);
}

.show-overlay {
    display: block;
}

.show-menu {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.show-flex {
    display: flex;
}

.hide {
    display: none;
}

.show-inline {
    display: inline;
}

.selected {
    border: .3rem solid var(--orange);
}

.show-desktop-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}