@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    /* Primary */
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    /* Neutral */
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    /* Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%)*/
    --black: hsl(0, 0%, 0%);

    --input-button-border-radius: .8rem;
    --input-button-padding: 1.5rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    font-family: "Kumbh Sans", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 1.7rem 2rem;
}

.icon-menu {
    margin-right: 1rem;
}

.logo {
    width: 11rem;
}

/* Nav */
.nav {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;

    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: all 0.2s ease-in-out;

    width: 68%;
    height: 100%;
    padding: 2.5rem;

    background-color: var(--white);
}

.nav-icon-close {
    margin-bottom: 5rem;
}

.nav-li {
    list-style: none;
}

.nav-li:not(:last-of-type) {
    margin-bottom: 2rem;
}

.nav-link {
    transition: .2s;

    font-size: 1.7rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--black);
}

/* Cart and avatar container */
.cart-and-avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-cart-header-container {
    position: relative;
}

.icon-cart-header-number {
    position: absolute;
    top: -.5rem;
    right: -.7rem;

    display: none;

    border-radius: 1rem;
    padding: .1rem .6rem;

    background-color: var(--orange);

    font-size: .9rem;
    font-weight: 700;
    font-family: "Kumbh Sans", sans-serif;
    color: var(--white);
}

.image-avatar {
    margin-left: 1.8rem;
    border: .1rem solid transparent;
    border-radius: 1.5rem;
    width: 3rem;
}

/* Cart Container */
.cart-container {
    position: absolute;
    z-index: 1;
    top: 7.5rem;
    right: 1rem;
    left: 1rem;

    display: none;
    flex-direction: column;

    box-shadow: 0rem 1.3rem 2rem 0rem rgba(0, 0, 0, .3);
    border-radius: 1rem;
    height: 24rem;

    background-color: var(--white);
}

.cart-top {
    border-bottom: .1rem solid hsla(220, 14%, 75%, .4);
    padding: 2.2rem;
}

.cart-bottom {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 2.2rem;
}

/* Empty text container */
.empty-text-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.empty-text-container p {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--dark-grayish-blue);
}

/* Cart items and button container */
.cart-items-and-button-container {
    display: none;
    flex-direction: column;
}

/* Cart items */
.cart-items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 2.3rem;
    width: 100%;
}

/* Thumbnail and text */
.thumbnail-and-text {
    display: flex;
}

.cart-thumbnail {
    margin-right: 1.7rem;
    border-radius: .5rem;
    width: 4.8rem;
}

/* Shoe name and price */
.shoe-name {
    overflow: hidden;

    margin-bottom: .4rem;
    width: 17.8rem;
    white-space: nowrap;

    font-size: 1.5rem;
    text-overflow: ellipsis;
    color: var(--dark-grayish-blue);
}

.cart-price {
    margin-right: 1rem;

    font-size: 1.5rem;
    color: var(--dark-grayish-blue);
}

.total {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black);
}

.icon-delete {
    width: 1.3rem;
}

.cart-link-checkout {
    display: flex;
    justify-content: center;

    border: none;
    border-radius: var(--input-button-border-radius);

    width: 100%;
    padding: 1.8rem;

    background-color: var(--orange);

    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
    text-decoration: none;
}

/* Overlay */
.mobile-overlay,
.desktop-overlay {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: hsla(0, 0%, 0%, .75);
}

/* Main */
main {
    margin-bottom: 7rem;
    width: 100%;
}

.overlay-images-container {
    display: none;
}

.display-image-container,
.overlay-display-image-container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    height: 30.1rem;
}

.image-displayed,
.overlay-displayed {
    width: 100%;
}

.two-arrows-container,
.overlay-two-arrows-container {
    position: absolute;
    right: 1rem;
    left: 1rem;

    display: flex;
    justify-content: space-between;
}

.arrow-container,
.overlay-arrow-container {
    /* Not sure about display here */
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 2rem;
    padding: .7rem .85rem;

    background-color: var(--white)
}

.arrow,
.overlay-arrow {
    width: 1rem;
}

/* Desktop thumbnails row */
.desktop-thumbnails-row,
.overlay-thumbnails-row {
    display: none;
}

/* Text Container */
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1.8rem;
}

.company {
    margin-bottom: .7rem;

    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .2rem;
    color: var(--orange);
}

.shoe-type {
    margin-bottom: 1.5rem;

    font-size: 2.6rem;
    color: var(--black);
}

.description {
    margin-bottom: 2.5rem;

    font-size: 1.5rem;
    line-height: 2.2rem;
    color: var(--dark-grayish-blue);
}

/* Price container */
.price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 3rem;

    font-weight: 700;
}

/* Price and Discount */
.price-and-discount {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1.2rem;
}

.price {
    font-size: 2.5rem;
    color: var(--black);
}

.discount {
    padding: .3rem;

    background-color: var(--pale-orange);

    font-size: 1.4rem;
    color: var(--orange);
}

.original-price {
    font-size: 1.6rem;
    text-decoration: line-through;
    color: var(--grayish-blue);
}

/* Input container */
.input-container {
    position: relative;

    display: flex;
    align-items: center;

    margin-bottom: 1.4rem;
}

.input-num-of-shoes {
    border: none;
    border-radius: var(--input-button-border-radius);
    width: 100%;
    padding: var(--input-button-padding);

    background-color: var(--light-grayish-blue);

    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Kumbh Sans", sans-serif;
    text-align: center;
    color: var(--black);
}

.input-num-of-shoes::placeholder {
    opacity: 1;

    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Kumbh Sans", sans-serif;
    color: var(--black);
}

.math-symbol {
    position: absolute;
    padding: .8rem;
}

.icon-minus {
    left: 1.5rem;
}

.icon-plus {
    right: 1.5rem;
}

/* Button */
.button-page {
    display: flex;
    justify-content: center;

    box-shadow: 0rem 2.5rem 2rem 0rem hsl(25, 100%, 94%);
    border: none;
    border-radius: var(--input-button-border-radius);
    width: 100%;
    padding: var(--input-button-padding);

    background-color: var(--orange);
}

.cart-and-text {
    display: flex;
    align-items: center;

    gap: 1.2rem;
}

.icon-cart-button {
    filter: brightness(0) saturate(100%) invert(88%) sepia(92%) saturate(0%) hue-rotate(44deg) brightness(110%) contrast(100%);
}

.button-text {
    font-weight: 700;
    color: var(--white);
}



















@media only screen and (min-width: 31rem) {
    .logo:hover {
        cursor: pointer;
    }

    .display-image-container,
    .overlay-display-image-container {
        overflow: visible;

        height: auto;
    }

    .icon-menu:hover {
        cursor: pointer;
    }

    .icon-cart-header-number:hover {
        cursor: pointer;
    }

    .icon-cart-header:hover {
        filter: brightness(0) saturate(100%) invert(0%) sepia(98%) saturate(12%) hue-rotate(336deg) brightness(97%) contrast(100%);

        transition: .2s;

        cursor: pointer;
    }

    .nav-link:hover {
        transition: .2s;

        color: var(--black);
    }

    .image-avatar:hover {
        transition: .2s;

        border: .2rem solid var(--orange);
        border-radius: 3rem;

        cursor: pointer;
    }

    .cart-container {
        top: 7rem;
        right: 6rem;
        left: auto;

        width: 35rem;
    }

    .icon-delete:hover {
        cursor: pointer;
    }

    .cart-link-checkout:hover {
        opacity: .7;
    }

    .button-cart:hover {
        opacity: .7;

        cursor: pointer;
    }

    .arrow-container:hover,
    .overlay-arrow-container:hover {
        cursor: pointer;
    }

    .math-symbol:hover {
        cursor: pointer;
    }

    .button-page:hover {
        opacity: .7;

        cursor: pointer;
    }
}























@media only screen and (min-width: 52rem) {
    body {
        padding: 0% 10%;
    }

    .header {
        margin-bottom: 8rem;
        border-bottom: .1rem solid hsla(220, 14%, 75%, .4);
        padding: 3.5rem 0rem 4rem 0rem;
    }

    .icon-menu {
        display: none;
    }

    .logo-and-nav-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        margin-right: 2rem;
        width: 100%;
        max-width: 800px;
    }

    .logo {
        margin-right: 5rem;
        width: 16rem;
    }

    .nav {
        position: relative;
        z-index: 0;

        display: flex;
        justify-content: space-between;

        transform: translateX(0);
        -webkit-transform: translateX(0);

        width: 100%;
        max-width: 400px;
        padding: 0;
    }

    .nav-icon-close {
        display: none;
    }

    .nav-li:not(:last-of-type) {
        margin-right: 0rem;
        margin-bottom: 0rem;
    }

    .nav-link {
        position: relative;

        font-size: 1.6rem;
        font-weight: 400;
        color: var(--dark-grayish-blue);
    }

    .nav-link::after {
        content: "";

        position: absolute;
        left: 50%;
        bottom: -5.4rem;

        transform: translateX(-50%);

        transition: all 0.2s ease-in-out;
        -webkit-transform: translateX(-50%);

        width: 0;
        height: .4rem;

        background-color: var(--orange);
    }

    .nav-link:hover::after {
        width: 100%;
    }

    .cart-and-avatar-container {
        position: relative;
        justify-content: space-between;

        /* Fix in mobile */
        gap: 0;

        width: 100%;
        max-width: 112px;
    }

    .image-avatar {
        margin-left: 2rem;
        width: 5rem;
    }

    .cart-container {
        top: 11rem;
        right: 10rem;
        left: auto;

        width: 35rem;
    }

    main {
        display: flex;
        justify-content: center;
        gap: 9%;

        margin-bottom: 15rem;
    }

    /* Images container */
    .mobile-overlay {
        display: none;
    }

    .desktop-overlay {
        position: fixed;
    }

    .overlay-images-container {
        display: flex;
    }

    .images-container,
    .overlay-images-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;
        min-width: 300px;
        max-width: 450px;
    }

    .images-container {
        flex-basis: 50%;
    }

    .overlay-display-images-container {
        display: flex;
        flex-direction: column;
    }

    .display-image-container,
    .overlay-display-image-container {
        overflow: visible;

        margin-bottom: 3rem;
        height: auto;
    }

    .overlay-icon-close {
        align-self: flex-end;

        transition: .2s;

        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);

        margin-bottom: 1.5rem;
        width: 1.8rem;
    }

    .overlay-icon-close:hover {
        transition: .2s;

        filter: brightness(0) saturate(100%) invert(63%) sepia(98%) saturate(2737%) hue-rotate(345deg) brightness(99%) contrast(105%);

        cursor: pointer;
    }

    .image-displayed,
    .overlay-displayed {
        border-radius: 2rem;
    }

    .image-displayed:hover,
    .overlay-displayed:hover {
        cursor: pointer;
    }

    .two-arrows-container {
        display: none;
    }

    .overlay-two-arrows-container {
        right: -2.5rem;
        left: -2.5rem;
    }

    .overlay-arrow-container {
        border-radius: 3rem;
        padding: 1.5rem 1.8rem;
    }

    .overlay-arrow-container>img {
        transition: .2s;
    }

    .overlay-arrow-container:hover>img {
        transition: .2s;

        filter: brightness(0) saturate(100%) invert(63%) sepia(98%) saturate(2737%) hue-rotate(345deg) brightness(99%) contrast(105%);
    }

    .desktop-thumbnails-row,
    .overlay-thumbnails-row {
        display: flex;
        justify-content: center;

        gap: 3rem;
    }

    .desktop-thumbnails-row-img,
    .overlay-thumbnails-row-img {
        border: .3rem solid transparent;
        border-radius: var(--input-button-border-radius);
        width: 100%;
    }

    .desktop-thumbnails-row-img:hover,
    .overlay-thumbnails-row-img:hover {
        cursor: pointer;
    }

    /* Text container */
    .text-container {
        flex-basis: 50%;

        max-width: 45rem;
        padding: 1.8rem 0rem 1.8rem 1.8rem;
    }

    .company {
        margin-bottom: 1.8rem;

        font-size: 1.3rem;
    }

    .shoe-type {
        margin-bottom: 2.5rem;

        font-size: 4rem;
    }

    .price-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .price-and-discount {
        margin-bottom: .8rem;
    }

    .input-and-button-container {
        display: flex;
        gap: 1.3rem;
    }

    .input-container {
        margin-bottom: 0;
    }

    .input-num-of-shoes:focus {
        outline: none;
    }

    .button-page {
        padding: 0;
    }
}


















/* Coming soon html page section */
.coming-soon-body {
    text-align: center;

    background-color: var(--pale-orange);
}

.coming-soon-h1 {
    font-size: 7rem;
    color: var(--orange);
}










/* JavaScript classes */
.filter-black {
    filter: brightness(0) saturate(100%) invert(0%) sepia(98%) saturate(12%) hue-rotate(336deg) brightness(97%) contrast(100%);
}

.show-overlay {
    display: block;
}

.show-menu {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.show-flex {
    display: flex;
}

.hide {
    display: none;
}

.show-inline {
    display: inline;
}

.selected {
    border: .3rem solid var(--orange);
}

.show-desktop-overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}